/* 부드러운스크롤 */
body, html {scroll-behavior: smooth;}
/* 봄바람체 */
@font-face {
    font-family: 'HsBombaram21';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSBombaram21-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
/* 레베카체 */
@font-face {
    font-family: 'Rebecca';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_Rebecca.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
/* 메인 */
main {width: 1920px; height: auto;}
.swiper.wrap {height: 100vh;  width: 100%;}
/* 헤더 */
header {
    width: 100%; height: 60px; background-color: rgba(107,152,113,0.4);
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
    padding: 0 50px; position: fixed; z-index: 999;
}
header:hover {
    background-color: #fff;
}
header:hover > a {background-color: #81B988; color: #fff; }
header:hover nav .active {background-color: #81B988; color: #fff;}
header nav {display: flex; gap: 50px; }
header:hover nav a {transition: all 0.4s ease;}
header > a,
header nav a {padding: 10px 30px; border-radius: 50px;}
header > a, 
header nav .active{background-color: #fff;}

/* --------------------1pg-----------------------1pg */
#home {
    width: 100%; height: 1080px;
    background: url(../images/pg001.png) no-repeat ;
    background-size:100%; padding: 120px;
    position: relative;
}
#home .title {position: absolute; bottom: 120px; left: 120px;}
#home .title p {font-size: 1.5rem; margin: 0 0 10px;}
#home .title p em {font-weight: 500;}
#home .title h1 {font-family: 'HsBombaram21'; font-size: 8.125rem;}
/* --------------------2pg-----------------------2pg */
#profile {
    width: 100%; height: 1080px;
    background: url(../images/pg002.png) no-repeat ;
    background-size:100%; padding: 100px 120px;
    display: flex; gap: 130px; justify-content: center; align-items: center;
}
#profile .left_info{
    background-color: #fff; width: 380px; height: 600px; border-radius: 30px;
    display: flex; flex-flow: column nowrap; gap: 15px; justify-content: center; align-items: center;
}
#profile .left_info h2 {font-family: 'Rebecca'; font-size: 1.563rem;}
#profile .left_info p {}
#profile .left_info span {}
#profile .right_info {
    background-color: #fff; width: 1110px; height: 750px; border-radius: 30px;
    padding: 30px 60px; display: flex; flex-flow: row wrap; justify-content: space-around; gap: 60px;
}
#profile .right_info .profile_detail {
    background-color: rgba(107,152,113,0.4); padding: 30px; border-radius: 20px;
    display: flex; flex-flow: column nowrap; gap: 15px;
}
#profile .right_info .profile_detail h3 {font-weight: 600; font-size: 1.563rem;}
#profile .right_info .profile_detail p {display: flex; justify-content: space-between; font-size: 0.938rem;}
#profile .right_info .education {width: 490px;}
#profile .right_info .license {width: 440px;}
#profile .right_info .sub_profile {width: 350px;}
#profile .right_info .skill {width: 580px;}
#profile .right_info .skill .skill_info {display: flex; flex-flow: column nowrap; gap: 15px;}
#profile .right_info .skill .skill_info li {position: relative; display: flex; flex-flow: row nowrap; gap: 15px; align-items: center; }
#profile .right_info .skill .skill_info li span {
    position: absolute; opacity: 0; left: 49px; transition: opacity 0.5s ease;
    background-color: #fff; z-index: 50; padding: 5px; border-radius: 5px;
}
#profile .right_info .skill .skill_info li:hover span {opacity: 1;}
#profile .right_info .skill .skill_info li :last-child {position: absolute; top: 13px; left: 49px;}

/* --------------------3pg-----------------------3pg */
#web_project {
    display: flex; gap: 80px; align-items: center; justify-content: center;
    width: 100%; height: 1080px; position: relative;
    background: url(../images/pg003.png) no-repeat ;
    background-size:100%; padding: 0 120px; overflow: hidden;
}
#web_project .left_web {display: flex; flex-flow: column nowrap; gap: 50px;}
#web_project .left_web h2 {font-size: 1.875rem; font-weight: 500;}
#web_project .left_web p {text-align: center;}
#web_project .main_web {
    width: 500px; height: 100vh; position: relative;
    transition: display 2s ease;}
#web_project .main_web .swiper {opacity: 0; position: absolute; top: 0; right: 0;}
#web_project .main_web .swiper .swiper-wrapper {height:100vh;}
#web_project .main_web .swiper .swiper-wrapper .swiper-slide {}
#web_project .main_web .lenox_swiper {opacity: 1;}
#web_project .main_web .fender_swiper {}
#web_project .main_web .himart_swiper {}
#web_project .right_web {display: flex; flex-flow: column nowrap; gap: 100px;}
#web_project .right_web a {display: inline-block; border-bottom: 1px solid #E0EAC8; padding-bottom: 3px; transition: all 0.5s ease;}
#web_project .right_web #lenox {border-bottom-color: #000;}
/* --------------------4pg-----------------------4pg */
#other_project {
    width: 100%; height: 1080px;
    background: url(../images/pg004.png) no-repeat ;
    background-size:100%; padding: 120px;
    position: relative; overflow: hidden;
    display: flex; flex-flow: row nowrap; gap: 800px; text-align: center; 
}
#other_project .left_btn {
    display: flex; flex-flow: column nowrap; gap: 180px;
    justify-content: center; height: 100%; position: relative; left: 300px;
}
#other_project .left_btn button {width: fit-content;}
#other_project .left_btn button{
    display: inline-block; border-bottom: 1px solid #87B58D;
    padding-bottom: 3px; transition: all 0.5s ease;
}
#other_project .left_btn button p {}
#other_project .left_btn .detail_pg {border-bottom-color: #000;}
#other_project .left_btn .bnr_pg {}
#other_project .right_gallery {}
#other_project .right_gallery .gallery {
    display: grid; grid-template-columns: repeat(4, 1fr);
    gap: 10px; max-width: 900px;
    position: absolute; top:257px;
}
#other_project .right_gallery .bnr_gallery {
    display: none;
}

#other_project .right_gallery .gallery .thumnail_wrapper {
    position: relative; border-radius: 8px; overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#other_project .right_gallery .gallery .thumnail_wrapper img {
    width: 120px; height: 120px;
    cursor: pointer; transition: transform 0.2s; display: block;
}
#other_project .right_gallery > .detail_gallery .thumnail_wrapper img {
    width: 100%; height: 500px;
    object-fit: cover; object-position: top;
}
#other_project .right_gallery > .bnr_gallery .thumnail_wrapper img {
    object-fit: cover; width: 120px;
}
#other_project .right_gallery > .bnr_gallery .thumnail_wrapper:nth-child(3) img {object-position: 80%;}
#other_project .right_gallery > .bnr_gallery .thumnail_wrapper:nth-child(4) img{object-position: 20%;}
#other_project .right_gallery > .bnr_gallery .thumnail_wrapper:nth-child(5) img {object-position: 30%;}
#other_project .right_gallery .gallery .thumnail_wrapper img:hover {
    transform: scale(1.03);
}
#other_project #popup_bg {
    width: 100%; height: 100%; top: 0; left: 0;
    justify-content: center;  align-items: center;
    display: none; position: fixed; z-index: 990;
    background-color: rgba(0, 0, 0, 0.2);
}
#other_project #popup_bg #popup {
    max-width: 90vw; max-height: 90vh;
    overflow-y: auto;  position: relative; 
}
#popup img {
    max-width: 1300px; height: auto;
    display: block; z-index: 999;
}
/* --------------------5pg-----------------------5pg */
#last_pg {
    width: 100%; height: 1080px;
    background-color: #81B988;
    position: relative; overflow: hidden;
    position: relative;
}

    #last_pg p {font-family: 'Rebecca';}
    #last_pg p:nth-child(1) {font-size: 200pt; color: #E0EAC8; position: absolute; top: 0; left: -50px;}
    #last_pg p:nth-child(2) {font-size: 100pt; color: #A9E2B0; position: absolute; top: 35%; left: 40%;}
    #last_pg p:nth-child(3) {font-size: 100pt; color: #E0EAC8; position: absolute; top: 55%; right: 40%;}
    #last_pg p:nth-child(4) {font-size: 160pt; color: #E0EAC8; position: absolute; bottom: -20px; right: 0;}